html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

elements-of-type(html5-block) {
  display: block; }

@font-face {
  font-family: 'Gotham-Book';
  src: url('../fonts/Gotham-Book.eot');
  src: url('../fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'), url('../fonts/Gotham-Book.woff') format('woff'), url('../fonts/Gotham-Book.ttf') format('truetype'), url('../fonts//Gotham-Book') format('svg'); }

@font-face {
  font-family: 'Gotham-Medium';
  src: url('../fonts/Gotham-Medium.eot');
  src: url('../fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Gotham-Medium.woff') format('woff'), url('../fonts/Gotham-Medium.ttf') format('truetype'), url('../fonts//Gotham-Medium') format('svg'); }

body, .top-bar, label, input, select, textarea {
  font-family: 'Gotham-Book', sans-serif;
  color: #555; }

.top-bar, .fine {
  font-size: 13px; }

label, input, select, textarea {
  color: #999;
  outline: none; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Gotham-Book', sans-serif;
  font-weight: 500;
  text-transform: uppercase; }

h1 {
  font-family: 'Gotham-Medium', sans-serif;
  letter-spacing: -2px;
  font-size: 50px;
  /* 48 / 16 */
  line-height: 50px;
  /* 48 / 48 */
  margin-bottom: 30px;
  /* 24 / 48 */ }

h2 {
  font-family: 'Gotham-Medium', sans-serif;
  font-size: 30px;
  /* 36 / 16 */
  line-height: 38px;
  /* 48 / 36 */
  margin-bottom: .6666666667em;
  /* 24 / 36 */
  color: #333; }

h3 {
  font-size: 18px;
  /* 24 / 16 */
  line-height: 18px;
  /* 24 / 24 */ }

h4 {
  font-size: 14px;
  /* 21 / 16 */
  line-height: 16px;
  /* 24 / 21 */
  margin-bottom: 18px;
  /* 24 / 21 */ }

h5 {
  line-height: 18px; }

p, ul, ol, dl, blockquote {
  margin-bottom: 1.5em;
  /* 24 / 16 */ }

strong {
  font-family: 'Gotham-Medium', sans-serif; }

p {
  font-size: 14px;
  line-height: 26px; }

a {
  font-family: 'Gotham-Medium', sans-serif;
  color: #07d38a; }
  a:hover {
    text-decoration: none;
    color: #05a26a; }

/* tables */
table.tablesorter {
  width: 100%; }

table.tablesorter thead tr th, table.tablesorter tfoot tr th {
  background-color: #dbfef1; }

table.tablesorter tbody td {
  vertical-align: top; }

table.tablesorter tbody tr:nth-child(even) {
  background: #eee; }

table.tablesorter thead tr .header {
  background-image: url(../images/bg.gif);
  background-repeat: no-repeat;
  background-position: center right;
  cursor: pointer; }

table.tablesorter thead tr .headerSortUp {
  background-image: url(../images/asc.gif); }

table.tablesorter thead tr .headerSortDown {
  background-image: url(../images/desc.gif); }

table.tablesorter .header {
  font-size: 1em;
  text-transform: uppercase; }

.container {
  padding-top: 50px;
  font-size: 0.9em; }

.navbar-inner {
  min-height: 0; }

.navbar .brand {
  margin: 2px 15px 0 0;
  padding: 0;
  overflow: hidden;
  text-indent: -1000px;
  background: url("../images/logo.png");
  background-size: 100%;
  width: 119px;
  height: 34px;
  width: 100px;
  height: 28px; }

h3 {
  margin-bottom: 20px; }

.select2-container, select, input[type=text], textarea {
  width: 400px !important; }

textarea {
  height: 150px; }

/*# sourceMappingURL=admin.css.map */