{% extends 'admin/model/create.html' %}

{% block body %}
    <style>
        textarea {
            width: 500px;
            height: 300px;
        }
    </style>
    <ul class="nav nav-tabs">
        <li>
            <a href="{{ return_url }}">{{ _gettext('List') }}</a>
        </li>
        <li class="active">
            <a href="javascript:void(0)">{{ _gettext('Create') }}</a>
        </li>
    </ul>

    {% call lib.form_tag(form) %}
        {{ lib.render_field(form,form.studio) }}
        {{ lib.render_field(form,form.schedules) }}
        {{ lib.render_form_buttons(return_url, extra()) }}
    {% endcall %}
{% endblock %}